.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 532px;
}
.main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reviews {
    display: flex;
    flex-direction: column;
}